@use '../../variables.scss' as *;

.heroContainer {
    min-width: 400px;
    width: 100%;
    padding-left: 40%;
    margin-top: 10%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto;
    gap: 1rem;
    align-self: flex-end;
    align-items: center;
    justify-items: left;

    img {
        border-radius:250px;
        width: 25%;
        height: auto;
        object-fit: cover;
        max-width: 200px;
        min-width: 150px;
    }

    @media (max-width: 768px) {
        margin: 0 auto;
        align-items: center;
        padding: 0 1rem;
        justify-content: center;
        flex-direction: column;
        display: flex;
        margin-top: 2rem;
        text-align: center;
        max-width: 500px;
        width: 100%;
    }
}

.nameBanner {
    color: white;
    font-family: var(--font-geist-sans);
    font-size: 1.4rem;
    
}

.title {
    color: rgba(255, 255, 255, 0.747);
    font-family: var(--font-geist-sans);
    font-size: 1.2rem;
    margin-top: -.6rem;
    max-width: 200px;
}

.address {
    color: rgba(255, 255, 255, 0.747);
    font-family: var(--font-geist-sans);
    font-size: 1rem;
    margin-top: -.7rem;
}

.moto {
    color: white;
    font-family: var(--font-geist-sans);
    font-size: 1rem;
    margin-top: -.7rem;
    font-style: normal;
}

.icon {
    color: #ff595e;
    font-size: .8rem;
}

