@use '../../variables.scss' as *;

.aboutContainer{
    width: 100%;
}

.aboutText {
    margin-top: .7rem;
    text-align: justify;
    line-height: 1.6;

    @media (max-width: 768px) {
        text-align: center;
    };
}

