<<<<<<< HEAD
@use '../../variables.scss' as *;


.aboutContainer{
    margin-top: 5.9%;
    width: 100%;
    max-width: 50rem;
    padding: 0 1rem;
}

.aboutText {
    margin-top: .7rem;
    text-align: justify;
    line-height: 1.6;
    
    @media (max-width: 768px) {
        text-align: center;
    };
}
=======
@use '../../variables.scss' as *;
>>>>>>> f7d1faae1f2ed768282c4de933b8ec3cb6de4936
