@use '../../variables.scss' as *;

.aboutContainer{
    width: 100%;
}

.aboutText {
    margin-top: .7rem;
    text-align: justify;
    line-height: 1.6;

    @media (max-width: 768px) {
        text-align: center;
    };
}

.cookContainer {
     margin-top: .7rem;
     width: 100%;
}
.cookName {
    font-size: 1.12rem;
    font-weight: 500;
    letter-spacing: .05rem;
}

.cookDescription {
    margin-top: .1rem;
    font-size: 1rem;
    font-weight: 250;
    font-size: 1rem;
    letter-spacing: .05rem;
    color:rgb(224, 224, 224)
}