@use '../../variables.scss' as *;

.projectContainer {
    margin-top: .7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titleIconContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.projectTitle {
    font-size: 1.12rem;
    font-weight: 500;
    letter-spacing: .05rem;

}

.projectDescription {
    margin-top: .1rem;
    font-size: 1rem;
    font-weight: 250;
    font-size: 1rem;
    letter-spacing: .05rem;
    color: rgb(224, 224, 224);
}

.projectDate {
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
    display: inline;
}

.projectIcon {
    font-size: 1.5rem;
    color: rgb(224, 224, 224);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}